:root {
  --font-size: 16px;
  --padding-h: 10px;
  --border-radius: 3px;

  --color-text-bg: white;
  --color-text-fg: black;
  --color-media-bg: #222;
  --color-media-fg: white;
  --color-dim: #00000033;
  --color-vdim: #00000005;

  color: var(--color-text-fg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-bg: #222;
    --color-text-fg: #bbb;
    --color-media-bg: black;
    --color-media-fg: white;
    --color-dim: #ffffff33;
    --color-vdim: #ffffff05;
  }
}

@media (max-width: 800px) {
  :root {
    --padding-h: 1.5vw;
  }
}

@media (max-width: 500px) {
  :root {
    --font-size: 3vw;
  }
}

.section-level-0 {
  --section-color: #3ea2af;
  --section-level: 0;
  --section-z-index: 10;
}

.section-level-1 {
  --section-color: #855fdf;
  --section-level: 1;
  --section-z-index: 9;
}

.section-level-2 {
  --section-color: #c54648;
  --section-level: 2;
  --section-z-index: 8;
}

.section-level-3 {
  --section-color: #bd8f3b;
  --section-level: 3;
  --section-z-index: 7;
}

/** BASE **/

html {
  background: var(--color-media-bg);

  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica",
    "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji";
  font-size: var(--font-size);
  line-height: 1.5;
}

body {
  background: var(--color-text-bg);
  max-width: 800px;
  margin: 0 auto;
}

/** TEXT **/

/* Loosely based on GitHub's README styling. */

blockquote,
dl,
p,
pre,
table {
  margin: 1rem 0 0.5rem;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

summary + pre {
  margin-top: 0;
}

header,
ol,
ul,
li {
  margin: 0.5rem 0;
}

blockquote {
  border-left: 5px solid var(--color-dim);
  padding-left: var(--padding-h);
  opacity: 0.8;
}

a,
.link {
  color: unset;
  text-decoration: none;
  border-bottom: 2px solid;
}

a:not(:hover),
summary:not(:hover) > .link {
  border-color: var(--color-dim);
}

a:active,
summary:active > .link {
  opacity: 0.5;
}

ol {
  padding-left: 1.7em;
}

ul {
  padding-left: 1.3em;
}

ul > li {
  list-style-type: "— ";
}

li {
  font-variant-numeric: tabular-nums;
}

pre {
  padding: 8px 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  /* background-color: var(--color-vdim); */
  border-radius: var(--border-radius);
}

hr {
  border: none;
  border-top: thin dashed var(--color-text-fg);
  background: none;
}

.hidden {
  display: none;
}

/** MEDIA **/

figure {
  margin: 0 auto;
  display: table;
  max-height: calc(90vh - 50px);
  color: var(--color-media-fg);
  background: var(--color-media-bg);
  padding: 10px;
  text-align: center;
}

figure {
  position: relative;
}

figure[data-title]:hover::after {
  background: #00000088;
  content: attr(data-title);
  font-size: 0.7rem;
  line-height: 1rem;
  padding-top: 0.2rem;
  z-index: 1;
  position: absolute;
  top: -0.7rem;
  left: 0;
  right: 0;
}

@media (min-width: 550px) {
  figure.float {
    margin-bottom: 0.5rem;
  }
  figure.float-left {
    float: right;
    margin-right: 2vw;
  }
  figure.float-right {
    float: right;
    margin-left: 2vw;
  }
}

.small-block-wrapper {
  margin: 1rem 0;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.small-block-left,
.small-block-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 300px;
  box-sizing: border-box;
  width: 40%;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  clear: both;
}

gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 5px solid var(--color-media-bg);
  border-radius: var(--border-radius);
}

gallery > figure {
  flex: 1 1 300px;
  padding: 5px;
}

img,
video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  overflow: hidden;
  max-height: 80vh;
}

video:fullscreen {
  outline: none;
}

video:not([controls])::-webkit-media-controls {
  display: none;
}

img.small,
video.small {
  width: 300px;
  max-width: 50vw;
  max-height: 50vh;
}

figcaption + img {
  margin-top: 7px;
}

/* LINK PREVIEWS */

.link-preview {
  background: var(--color-text-bg);
  border: 1px solid var(--color-text-fg);
  border-radius: var(--border-radius);
  box-shadow: 1px 2px 9px 0px var(--color-dim);
  pointer-events: none;
  z-index: 11;

  position: fixed;
  top: 0;
  left: 0;

  height: 300px;
  max-height: 50vmin;
  width: 400px;
  max-width: 70vmin;

  visibility: hidden;
}

.link-preview-visible {
  visibility: visible;
}

.link-preview-loading {
  visibility: hidden;
}

/* DETAIL/SUMMARY */

@keyframes details-contents {
  0% {
    opacity: 0;
  }
  100% {
    opacity: unset;
  }
}

details {
  margin: 12px -0.3em;
  padding: 2px 0.3em;
  border-radius: var(--border-radius);
  background: var(--color-vdim);
}

details[open] > * {
  animation: details-contents 0.2s ease-out;
}

details[open] > summary:first-of-type {
  animation: none;
}

details > summary:first-of-type {
  cursor: pointer;
  padding: 0 4px;
  list-style: none;
}

details > summary:first-of-type:active {
  user-select: none;
}

details[open] > summary:first-of-type > .link {
  border-bottom: none;
}

details[open] > summary:first-of-type::after {
  content: ":";
}

/* SECTIONS */

.section {
  margin: 12px 0;
  border-left: 5px solid var(--section-color);
  scroll-margin-top: calc(var(--section-level) * (1.25 * 1.5rem));
}

.section-level-0 {
  margin: 0;
  padding-right: var(--padding-h);
}

.section-level-0:before {
  content: "";
  display: block;
  height: 0.1em;
}

.section-header {
  font-weight: 600;
  line-height: 1.25;
  background: var(--color-text-bg);

  margin-left: -5px;
  border-left: 5px solid var(--section-color);
  color: var(--section-color);
  padding-left: var(--padding-h);

  /* H2 style */
  font-size: 1.5em;
  padding-bottom: 0.1em;

  position: sticky;
  top: calc(var(--section-level) * 1.25em);
  z-index: var(--section-z-index); /* Display above video controls */
}

.section-header-interactive {
  cursor: pointer;
}

.section-header-interactive:hover,
.section-header-interactive:focus {
  text-decoration: underline;
}

.section-content {
  padding-bottom: 1px;
  margin-left: var(--padding-h);
}
